$('.chats').append(`
    <div class="chat-fukidashi" style='text-align: right;'>
      <strong><%= j @message.content %></strong><br>
      ${'<%= created_at %>'}
    </div>
`)
$('input[type=text]').val("")