$('.chats').append(`
  <div class="chat-fukidashi" style='text-align: right;'>
    <strong><%= j @message.content %></strong><br>
    <%= @message.created_at.strftime("%Y/%m/%d %H:%M") %>
  </div>
`)
$('input[type=text]').val("")